@charset "utf-8";
/* CSS Document */

html {
    height: 100%;
    width: 100%;
} 

body{
	position:relative;
	max-width: 2560px;
    margin: 0 auto;
    min-width: 960px;
    height:100%;
    padding:0;
}

img{
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
	height:100%;
	width:100%;
}



.form{
	position:absolute;
	left:61%;
	top:77%;
	z-index:100px;
	height:6%;
	width:26%;
}



.form .warn{
	margin-top: 15px;
	color:#F00;
}

.form .tb {
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:90%; 
    width: 70%; 
   
  } 
  
  .form .button{
	  height:81%;
	  width:20%;
  }






