{% extends "base.html" %}
{% load staticfiles %}



{% block title %}event group - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %} <link href="{% static 'css/event_group.css' %}" rel="stylesheet" type="text/css" /> {% endblock %}
    


{% block content %}
   	<div class="eventgroup_foto" style="background-image:url({{event_group_photoUrl}});background-size: 100%;">
         <div class="eventgroup_onpic"><span style="margin-top:10px; font-size:18px">{{event_group_name}}</span></div>   	
    </div>
    <div class="eventgroup_info">
    	<div class="eventgroup_name"><span style="color:#38a1bc; font-weight:bold;">{{event_group_name}}</span><a style="margin-left:40px;" href="#"><img src="{% static 'resimler/facebook.png' %}" /></a>&nbsp;<a href="#"><img src="{% static 'resimler/twitter.png' %} " /></a>			&nbsp;<a href="#"><img src="{% static  'resimler/googleplus.png' %} " /></a>
        <div class="eventgroup_yazi"><span>{{event_group_description}}</span></div>       
        </div>
        <div class="sehir_sirala">
        	<form id="myform" name="bilet_detaylari" method="POST">
        	
        	<label class="name" style="font-size:15px">şehre göre sırala</label> <label id="biletsayisi_uyari" style="color:#bdd531; margin-left:10px;"></label>
            <br />
            {% csrf_token %}
   			<select id="bilet_sayisi" name="city_select" onChange="this.form.submit();" class="styled-select">
      					<option>{{city_name_all_cities}}</option>
	  					{% for city in city_list %}
						{% if city.name == selected_city_name %}
							<option selected>{{city.name}}</option>
						{% else %}
	  	  					<option>{{city.name}}</option>
						{% endif %}
	  					{% endfor %}
   					</select>
            </form>
        </div>
    </div>
          
    <div style="overflow: auto;" class="event_list">
    		<div class="eventlist_baslik">
        	<table><tr style="height:11px; background-color:#bfbfbf; text-align:center; font-size:16px;">
            <td style="width:115px;">etkinlik adı</td>
            <td style="width:115px;">yer</td>
            <td style="width:115px;">tarih</td>
            <td style="width:115px;">bilet sayısı</td>
            <td style="width:115px;">min. bilet fiyatı</td>
            <td style="width:115px;"></td>
            <td style="width:110px;"></td>
            </tr></table>
            </div>
            
       <div style="overflow: auto;" class="eventlist_area">
       {% for event in events %}
       		     
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">{{event_group_name}}<br />{{event.city}}</td>
            <td style="width:120px;">{{event.place}}</td>
            <td style="width:120px;">{{event.date}}</td>
            <td style="width:120px;">{{event.total_tickets}}</td>
            <td style="width:120px;">{{event.min_ticket}}</td>
            <td style="width:120px;">
            	<a href="/bilet_detaylari/?event_id={{event.id}}" class="button_sat" >bilet sat</a>
          
            </td>
            <td style="width:120px;">
            	<a href="/event/?event_id={{event.id}}" class="button_al" >bilet al</a>
            </td>
            </tr></table>
            </div>
       {% endfor %}     
            
        </div><!-- end of eventlist_area -->
    </div><!-- end of eventlist -->

 {% endblock %}