{% extends "base.html" %}
{% load staticfiles %}


{% block title %}event group - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %} <link href="{% static 'css/event_group.css' %}" rel="stylesheet" type="text/css" /> {% endblock %}
    


{% block content %}
   	<div class="eventgroup_foto">
         <div class="eventgroup_onpic"><span style="margin-top:10px; font-size:18px">TARKAN</span></div>   	
    </div>
    <div class="eventgroup_info">
    	<div class="eventgroup_name"><span style="color:#38a1bc; font-weight:bold;">TARKAN</span><a style="margin-left:40px;" href="#"><img src="resimler/facebook.png" /></a>&nbsp;<a href="#"><img src="resimler/twitter.png" /></a>			&nbsp;<a href="#"><img src="resimler/googleplus.png" /></a>
        <div class="eventgroup_yazi"><span>The success of Tarkan in the early 90s was seen by some as a sign of growing admiration for Western music, and the artist's real success came two years later. Collaborating with Turkey's "little sparrow", prominent producer and songwriter Sezen Aksu,[19] Tarkan's highly anticipated second album [Acayipsin]] (Oh - You're Something Else) sold more than two million copies in Turkey and 750 thousand copies in Europe.</span></div>       
        </div>
        <div class="sehir_sirala">
        	<form id="myform" name="bilet_detaylari" method="post">
        	<label class="name" style="font-size:15px">şehre göre sırala</label> <label id="biletsayisi_uyari" style="color:#bdd531; margin-left:10px;"></label>
            <br />
   			<select id="bilet_sayisi" class="styled-select">
      					<option>Tüm Türkiye</option>
                        <option>İstanbul</option>
                        <option>Ankara</option>
                        <option>İzmir</option>
   					</select>
            </form>
        </div>
    </div>
          
    <div class="event_list">
    		<div class="eventlist_baslik">
        	<table><tr style="height:11px; background-color:#bfbfbf; text-align:center; font-size:16px;">
            <td style="width:115px;">etkinlik adı</td>
            <td style="width:115px;">yer</td>
            <td style="width:115px;">tarih</td>
            <td style="width:115px;">bilet sayısı</td>
            <td style="width:115px;">min. bilet fiyatı</td>
            <td style="width:115px;"></td>
            <td style="width:110px;"></td>
            </tr></table>
            </div>
            
       <div style="" class="eventlist_area">     
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">Tarkan<br />İstanbul</td>
            <td style="width:120px;">Jolly Joker</td>
            <td style="width:120px;">11 Ocak<br />Cumartesi</td>
            <td style="width:120px;">50 bilet</td>
            <td style="width:120px;">125 TL</td>
            <td style="width:120px;"><button class="button_sat" type="button">bilet sat</button></td>
            <td style="width:120px;"><button class="button_al" type="button">bilet al</button></td>
            </tr></table>
            </div>
            
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">Tarkan<br />İstanbul</td>
            <td style="width:120px;">Jolly Joker</td>
            <td style="width:120px;">11 Ocak<br />Cumartesi</td>
            <td style="width:120px;">50 bilet</td>
            <td style="width:120px;">125 TL</td>
            <td style="width:120px;"><button class="button_sat" type="button">bilet sat</button></td>
            <td style="width:120px;"><button class="button_al" type="button">bilet al</button></td>
            </tr></table>
            </div>
            
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">Tarkan<br />İstanbul</td>
            <td style="width:120px;">Jolly Joker</td>
            <td style="width:120px;">11 Ocak<br />Cumartesi</td>
            <td style="width:120px;">50 bilet</td>
            <td style="width:120px;">125 TL</td>
            <td style="width:120px;"><button class="button_sat" type="button">bilet sat</button></td>
            <td style="width:120px;"><button class="button_al" type="button">bilet al</button></td>
            </tr></table>
            </div>
            
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">Tarkan<br />İstanbul</td>
            <td style="width:120px;">Jolly Joker</td>
            <td style="width:120px;">11 Ocak<br />Cumartesi</td>
            <td style="width:120px;">50 bilet</td>
            <td style="width:120px;">125 TL</td>
            <td style="width:120px;"><button class="button_sat" type="button">bilet sat</button></td>
            <td style="width:120px;"><button class="button_al" type="button">bilet al</button></td>
            </tr></table>
            </div>
            
            <div class"event">
        	<table><tr style="height:60px; text-align:center;">
            <td style="width:120px;">Tarkan<br />İstanbul</td>
            <td style="width:120px;">Jolly Joker</td>
            <td style="width:120px;">11 Ocak<br />Cumartesi</td>
            <td style="width:120px;">50 bilet</td>
            <td style="width:120px;">125 TL</td>
            <td style="width:120px;"><button class="button_sat" type="button">bilet sat</button></td>
            <td style="width:120px;"><button class="button_al" type="button">bilet al</button></td>
            </tr></table>
            </div>
        </div><!-- end of eventlist_area -->
    </div><!-- end of eventlist -->

 {% endblock %}