{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Şifre Yenile - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<!-- <link href="{% static 'css/bize_ulasin.css' %}" rel="stylesheet" type="text/css" /> 
 	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script> -->
{% endblock %}
    



{% block js_functions %} 
  

{% endblock %}
    

{% block content %}
<h2>Şifre Yenileme</h2>
<form method="POST">
	<label>Şifre:</label>
	<input type = "text"/>
	<input type = "submit">
</form>
      
{% endblock %}            
