{% extends "base.html" %}
{% load staticfiles %}


{% block title %}hesabim - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/hesabim.css' %}" rel="stylesheet" type="text/css" /> 
 	
{% endblock %}
    



{% block js_functions %} 
    
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
 
 
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["koltuk_no"].value;
	var val2=document.forms["myform"]["bilet_sayisi"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('koltuk_uyari').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="" ||val2=="bilet sayısını giriniz") { 
    
	document.getElementById('biletsayisi_uyari').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}


function show(){
	document.getElementById("eposta_tb").value= document.getElementById("eposta_lb").innerHTML;
	document.getElementById("eposta_lb").style.display = "none";
	document.getElementById("eposta_tb").style.display = "block";

	
	document.getElementById("sifre_tb").value= document.getElementById("sifre_lb").innerHTML;
	document.getElementById("sifre_lb").style.display = "none";
	document.getElementById("sifre_tb").style.display = "block";

	
	document.getElementById("ceptelefonu_tb").value= document.getElementById("ceptelefonu_lb").innerHTML;
	document.getElementById("ceptelefonu_lb").style.display = "none";
	document.getElementById("ceptelefonu_tb").style.display = "block";

	
	document.getElementById("adres_tb").value= document.getElementById("adres_lb").value;
	document.getElementById("adres_lb").style.display = "none";
	document.getElementById("adres_tb").style.display = "block";

	
	document.getElementById("hesapno_tb").value= document.getElementById("hesapno_lb").innerHTML;
	document.getElementById("hesapno_lb").style.display = "none";
	document.getElementById("hesapno_tb").style.display = "block";
	
	
	document.getElementById("duzenle").style.display = "none";
	document.getElementById("kaydet").style.display = "block";
	document.getElementById("load").style.display = "block";
	
};
	
{% endblock %}
    

{% block content %}
       
        <div class="uyelik">	
         	<div class="kullanici_bilgiler">
            	<div class="yazi">
                	<span>kullanıcı bilgileri</span>
                </div>
                
                
                <br /><br /><br /><br /><br /><br />
                
                <form id="myform" name="bilet_detaylari" method="post">
                    <span style="font-size:18px; color:#000;" >ad</span>
                    <label style="float:right; padding-right:10px;" id="kategori_no">{{user.first_name}}</label>              	
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                  
                    <br />
             
                    <span style="font-size:18px; color:#000;" >soyad</span>
                    <label style="float:right; padding-right:10px;" id="kategori_no">{{user.last_name}}</label>
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                    
                    <br />
                  
                    <span style="font-size:18px; color:#000;" >e-posta</span>
                    <label style="float:right; padding-right:10px;" id="eposta_lb">{{user.username}}</label>
                    <input name="username" id="eposta_tb" class="tb" type="text" style="display:none;" />
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                    
                    <br />
                    <span style="font-size:18px; color:#000;" >şifre</span>
                    <label style="float:right; padding-right:10px;" id="sifre_lb"></label>
                    <input id="sifre_tb" class="tb" type="text" style="display:none;" />
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                    
                    <br />
                    <span style="font-size:18px; color:#000;" >cep telefonu</span>
                    <label style="float:right; padding-right:10px;" id="ceptelefonu_lb">{{user.gsm|default_if_none:""}}</label>
                    <input name="gsm" id="ceptelefonu_tb" class="tb" type="text" style="display:none;" />
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                    
                     <br />
                    <span style="font-size:18px; color:#000;" >adres</span>
                    <textarea disabled="disabled" id="adres_lb" rows="3" cols"20"  style="float:right; margin-right:5px;">{{user.address}}</textarea>
                    <textarea id="adres_tb" rows="3" cols="20" style="float:right; margin-right:5px; display:none;">  </textarea>
                    <br /><br /><br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
    
                    <br />
                    <span style="font-size:18px; color:#000;" >hesap no</span>
                    <label style="float:right; padding-right:10px;" id="hesapno_lb"></label>
                    <input id="hesapno_tb" class="tb" type="text" style="display:none;" />
                    <br />
                    <hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7" />
                    
                    <br />
                    <div id="load" class="loading" style="display:none;">
					{% csrf_token %}
                    <button id="kaydet" type="submit" class="button_example" style=" display:none; float:right; margin-right:10px; margin-left:150px; margin-bottom:20px;">kaydet</button>
                    </div>
              </form>
              <button id="duzenle" type="button" class="button_example" style="float:right; margin-right:10px; margin-left:150px; margin-bottom:20px;" onclick="show()">düzenle</button>
              
			</div>
        	<div class="alinan_biletler" >
       		  	<div class="yazi">
                	<span>alınan biletler</span>
                </div>
                
                <div class="biletler">
					{% for sale in buy_sales %}
                    <div class="bilet" style="margin-top:{{forloop.counter}}0">

                        <div class="event_pic">
                        	<img src="{{sale.ticket.event.eventGroup.photoUrl}}" width="100" height="120"/>
                            <label style="margin-top:10; background-color:#318da5; font-size:18px;">Teslim Alındı</label>
                        </div>
                        <div class="event_info">
                        	<label style="margin-left:10px;">{{sale.ticket.event.eventGroup.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.place}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.city.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.date.day}} {{sale.ticket.event.date|date:"M"}} {{sale.ticket.event.date.year}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.date|date:"h"}}</label>
                            <br />
                            <label style="margin-left:10px;">Kategori {{sale.ticket.seatCategory}}</label>
                            <br />
                            <label style="margin-left:10px;">Sıra {{sale.ticket.seatRow}}</label>
                            <br />
                            <label style="margin-left:10px;">Koltuk {{sale.seatNumberFrom}}-{{sale.seatNumberTo}}</label>
                            <br />
                            <label style="margin-left:10px;">{% multiply sale.ticket.price sale.ticket.ticketCount %}</label>
                           
                        
                        </div>
						
					</div>
					{% endfor %}
                        
                </div>
                
       	  	</div>
            <div class="satilan_biletler">
            	<div class="yazi">
                	<span>satılan biletler</span>
                </div>
                {% for sale in sell_sales %}
                <div class="biletler">
                    <div class="bilet" style="margin-top:{{forloop.counter}}0">
                        <div class="event_pic">
                        	<img src="{{ticket.event.eventGroup.photoUrl}}" width="100" height="120"/>
                            <label style="margin-top:10; background-color:#318da5; font-size:18px;">Teslim Alındı</label>
                        </div>
                        <div class="event_info">
                        	<label style="margin-left:10px;">{{sale.ticket.event.eventGroup.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.place}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.city.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.date.day}} {{sale.ticket.event.date|date:"M"}} {{sale.ticket.event.date.year}}</label>
                            <br />
                            <label style="margin-left:10px;">{{sale.ticket.event.date|date:"h"}}</label>
                            <br />
                            <label style="margin-left:10px;">Kategori {{sale.ticket.seatCategory}}</label>
                            <br />
                            <label style="margin-left:10px;">Sıra {{sale.ticket.seatRow}}</label>
                            <br />
                            <label style="margin-left:10px;">Koltuk {{sale.seatNumberFrom}}-{{sale.seatNumberTo}}</label>
                            <br />
                            <label style="margin-left:10px;">{% multiply sale.ticket.price sale.ticket.ticketCount %} TL</label>
                           
                        
                        </div>
                        
                   		<hr style="border-color:#3babc7" />
                    </div>
				</div>
				{% endfor %}
                {% for ticket in sell_tickets %}
                <div class="biletler">
                    <div class="bilet" style="margin-top:{% sum sell_sales_count forloop.counter %}0">
                        <div class="event_pic">
                        	<img src="{{ticket.event.eventGroup.photoUrl}}" width="100" height="120"/>
                            <label style="margin-top:10; background-color:#318da5; font-size:18px;">İlan Verildi</label>
                        </div>
                        <div class="event_info">
                        	<label style="margin-left:10px;">{{ticket.event.eventGroup.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.place}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.city.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.date.day}} {{ticket.event.date|date:"M"}} {{ticket.event.date.year}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.date|date:"h"}}</label>
                            <br />
                            <label style="margin-left:10px;">Kategori {{ticket.seatCategory}}</label>
                            <br />
                            <label style="margin-left:10px;">Sıra {{ticket.seatRow}}</label>
                            <br />
                            <label style="margin-left:10px;">Koltuk {{ticket.seatNumberFrom}}-{{ticket.seatNumberTo}}</label>
                            <br />
                            <label style="margin-left:10px;">{% multiply ticket.price ticket.ticketCount %} TL</label>
                           
                        
                        </div>
                        
                   		<hr style="border-color:#3babc7" />
                    </div>
				</div>
				{% endfor %}
                
                   
                   
                </div>
                
                
                
            </div>
         
      </div>
      
            
{% endblock %}