<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bilet Bosta | Kalmasin</title>
<link href="{{ base }}landing_css.css" rel="stylesheet" type="text/css" />

<script>
function validateForm()
{
var x=document.forms["mail_collect"]["email"].value;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  {
  document.getElementById('warning').innerHTML = 'Lutfen gecerli bir email adresi giriniz.'
  return false;
  }
}

</script>


</head>

<body>
	<div>
	<img src="{{base}}landing_image.png"/>
    <div class="form">
    	<form name="mail_collect"  action="/landing/" method="post" onsubmit="return validateForm();">
			{% csrf_token %}
         		                      							    								          		         	
         	<input class="tb"  type="text" placeholder="  e-posta adresi" name ="email">  
         	<input class="button" type="submit" value="Gonder" >  
    	</form>
    	<label class="warn" id="warning"></label>
	</div>
</body>
</html>
