<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bilet Bosta | Kalmasin</title>
<link href="{{ base }}landing_css.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<img src="{{ base }}landing_image.png"/>
    <div class="form">
    	<div>
			<form id="searchbox" action="" method="post">
                <!-- <input id="submit" type="submit" value="Gonder">
    			<input id="search" type="text" placeholder="e-posta adresi"> -->
					{{ form.email }}
					{% csrf_token %}
					<input type="submit" value="Submit">
			</form>
        </div>
    </div>
</body>
</html>
