{% extends "base.html" %}
{% load staticfiles %}


{% block title %}biletal3 - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" /> 
 	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
 	
{% endblock %}
    



{% block js_functions %} 



$(document).ready(function() {
    var triggers = $(".modalInput").overlay({

      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#FFF',
        loadSpeed: 200,
        opacity: 0.9
      },

      closeOnClick: false
  });
  
  
  
    $("#prompt form").submit(function(e) {

      // do not submit the form
      <!-- return e.preventDefault(); -->
  });
  });






  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
  
  
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["koltuk_no"].value;
	var val2=document.forms["myform"]["bilet_sayisi"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('koltuk_uyari').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="" ||val2=="bilet sayısını giriniz") { 
    
	document.getElementById('biletsayisi_uyari').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}














{% endblock %}

{% block content %}

       
       	
        <div class="uyelik">	
         	<div class="login" >
            	<span style="font-size:22px; color:#3496af; margin-left:40px; display:inline-block; margin-top:30px;">üye girişi</span>
                <br /><br /><br />
                <div class="fb_giris">
                <a style="margin-left:40px; vertical-align:bottom" href=""><img src="{% static 'resimler/fb_login.png' %}" onclick="fbLogin();"/></a>
                <span style="margin-left:10px;display: inline-block;vertical-align: top; font-size:16px" >facebook yoluyla giriş yap</span>
                 <span style="font-size:30px; margin-left:140px;">veya</span>
                </div>
                
                 <form id="myform" name="bilet_detaylari" method="post" onsubmit="return validate(this)">
         			<label class="name" style="font-size:20px;margin-left:10px; margin-bottom:20px; margin-right:40px;float:left;">e-posta</label>
   					<input name="username" id="isim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin adını giriniz." />
                    <label id="isim_lb" style="color:#bdd531; float:right; margin-right:5px;">{{login_username_error}}</label> 
                    
                    <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px; margin-right:40px; float:left;">şifre </label>
   					<input name="password" id="soyisim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin soyadını giriniz." />
                    <label id="soyisim_lb" style="color:#bdd531; float:right; margin-right:5px;">{{login_password_error}}</label>
                    
                    <br />
					{% csrf_token %}
                    <button type="submit" name ="login_form" class="button_example" style="float:right; margin-right:15px; margin-left:150px; margin-bottom:20px;">giriş</button>
                    <br />
                    <a id="unuttum" href="" class="modalInput" rel="#prompt" style="float:right; margin-right:15px; color:#aabf2c">şifremi unuttum</a>
                    


        		</form>
        		
			</div>
			
			
			
			
			
			
			
			
        	<div class="signup" >
       		  	<span style="font-size:22px; color:#3496af; margin-left:40px; display:inline-block; margin-top:30px;">kaydol</span>
                <br /><br /><br />
                <div class="fb_giris2">
                <a style="margin-left:40px; vertical-align:bottom" href=""><img src="{% static 'resimler/fb_login.png' %}" onclick="fbLogin();"/></a>
                <span style="margin-left:10px;display: inline-block;vertical-align: top; font-size:16px">facebook yoluyla kaydol</span>
                <span style="font-size:30px; margin-left:140px;">veya</span>
                </div>
                
                <form id="myform" name="bilet_detaylari" method="post" onsubmit="return validate(this)">
         			<label class="name" style="font-size:20px;margin-left:10px; margin-bottom:20px; margin-right:40px;float:left;">ad</label>
   					<input name="name" id="isim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin adını giriniz." />
                    <label id="isim_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_name_error}}</label> 
                    
                    <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px; float:left;">soyad </label>
   					<input name="surname" id="soyisim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin soyadını giriniz." />
                    <label id="soyisim_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_surname_error}}</label>
                    
                    
                    <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px;float:left; margin-right:40px;">e-posta </label>
   					<input name="username" id="sehir_tb" class="tb" type="text" title="Biletin teslim alınacağı ili giriniz."  />
                    <label id="sehir_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_username_error}}</label>
                    

                    <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px;float:left;">sifre</label> 
   					<input name="password" id="adres_tb" class="tb" type="text" title="Lütfen biletin teslim alınacağı açık adresi giriniz." />
                    <label id="adres_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_password_error}}</label>
                    
                    <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px;float:left;">sifre tekrar</label> 
   					<input name="password_again" id="adres_tb" class="tb" type="text" title="Lütfen biletin teslim alınacağı açık adresi giriniz." />
                    <label id="adres_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_password_again_error}}</label>
                    
                     <br />
                    <label class="name" style="font-size:20px; margin-left:10px;margin-bottom:20px;float:left;">cep telefonu</label> 
   					<input name="gsm" id="adres_tb" class="tb" type="text" title="Lütfen biletin teslim alınacağı açık adresi giriniz." />
                    <label id="adres_lb" style="color:#bdd531; float:right; margin-right:5px;">{{signup_gsm_error}}</label>
                    
                    <br />
					{% csrf_token %}
                    <button type="submit" name='signup_form' class="button_example" style="float:right; margin-right:5px;">kaydol</button>
        		</form>
       	  </div>
      </div>
      
      <!-- user input dialog -->
				<div class="modal" id="prompt">
  					<h2>Şifremi Unuttum</h2>
 
					  <p>
					    Şifreniz girilen email adresine gönderilecektir.
					  </p>
 
					  <!-- input form. you can press enter too -->

					  <form action="/login/" method="POST">
					    <input name="username"/>
						{% csrf_token %}
					    <input type="submit" name="forgot_password_form" value='Gönder'>
					    <button type="button" class="close"> İptal </button>
					  </form>
					  <br />
 
				</div>
      
{% endblock %}
