<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bilet Bosta | Kalmasin</title>
</head>

<body>
</body>
</html> -->

<table width="750" cellspacing = "10">
	<tr>
		<td width="20%"><img src="{{base}}bilet-bosta-reklam.png"></td>
		<td><h2>Türkiye’nin ikinci el bilet platformu 
			<a href="http://www.biletbosta.com">biletbosta.com</a>‘ a hoş geldiniz!</h2>
		</td>
	</tr>
</table>

<h4>
	Etkinlik kapınızda, bilet elinizde ama planlar değişti son saniyede.
</h4>
<p>
	Boşta kalan biletler artık bu adreste. Bilet Boşta‘nın güvenilir ve hızlı hizmetiyle; katılamayacağınız konser, maç, festival, tiyatro biletlerini bu platform üzerinden satışa sunabilirsiniz.
</p>



<h4>
	Bu konser Türkiye’ye bir daha gelmez, bu derbi tribünden başka yerde izlenmez derken etkinlik kapalı gişe.
</h4>
<p>
	Uzun zamandır gitmek isteyip gişede bilet bulamadığınız etkinlikler için ilk adresiniz Bilet Boşta ile aradığınız biletleri artık çok daha kolay bir şekilde satın alabilirsiniz.
</p>

</br>
<p>
	Ucuz biletin ve kapalı gişe etkinliklerin adresi 
	<a href="http://www.biletbosta.com">biletbosta.com</a>
</p>

<h4>
	Etkinlikler kaçmasın, boşta bilet kalmasın diyen herkes için,
	<a href="http://www.biletbosta.com">biletbosta.com</a> çok yakında, çok yakınınızda!
</h4>

<p>Bizi takip etmeye devam edin:</p>
<p><a href="https://twitter.com/biletbosta">Twitter</a></p>
<p><a href="https://www.facebook.com/pages/Bilet-Bo%C5%9Fta/182450405288050?ref=br_tf">Facebook</a>
</p>