{% extends "base.html" %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bilet Bosta</title>
    <link href="{% static 'css/main_page.css' %}" rel="stylesheet" type="text/css" />
    
    
    
    
    
    <script>
    
    
    
    	function myFunction()
{
var w = document.documentElement.clientWidth;
document.getElementById('content').style.marginLeft = Math.round( (w - 890)/2)+'px';
document.getElementById('banner').style.marginLeft = Math.round( (w - 890)/2)+'px';
document.getElementById('menu').style.marginLeft = Math.round( (w - 890)/2)+'px';
document.getElementById('footer_links').style.marginLeft = Math.round( (w - 890)/2 +210 )+'px';


};
    


{% block title %}anasayfa - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %} <link href="{% static 'css/main_page.css' %}" rel="stylesheet" type="text/css" /> {% endblock %}
    

{% block js_functions %}   
   
	function changeImage(url,id) {
    	document.getElementById('big_photo').src = url;
    	var a = document.getElementById('buyuk_resim_link'); //or grab it by tagname etc
		a.href = "/event_group/?event_group_id="+id;
    	return false; // prevent default link
	};

{% endblock %}
    

{% block content %}
        	<div class="haftanin_etkinlikleri">
            	<div class="haftanin_etkinlikleri_yazi"><span style=" margin-left:10px;">haftanın etkinlikleri</span></div>
                <div class="weekly_content">
                        <div class="left_images">
							{% for event_group in event_group_list %}
	                            <a href="/event_group/?event_group_id={{event_group.id}}">
									<div class="left_image" onmouseover="return changeImage('{{event_group.photoUrl}}','{{event_group.id}}');">
										<span >{{event_group.name}}</span>
									</div>
								</a>
							{% endfor %}
                        </div>
                        <a id="buyuk_resim_link" href="/event_group/?event_group_id={{event_group_list.0.id}}"><div  id="buyuk_resim" class="big_image"><img id="big_photo"  class="autoResizeImage" src="{{event_group_list.0.photoUrl}}" /></div></a>
                </div>
            </div>
            <div class="hot_tickets">
            	<div class="hot_tickets_baslik">talepte olan etkinlikler</div>
				{% for event in event_list %}
	                <a href="#"><div class={% if forloop.counter0|divisibleby:2 %}"event_left"{% else %} "event_right"{% endif %}>
		                <table>
							<tr>
			                <td height="60px" width="75px"><img class="autoResizeImage" src="{{event.eventGroup.photoUrl}}" alt="Event Photo"  /></td>
			                <td height="60px" width="150px">{{event.eventGroup.name}}<br />{{event.place}}<br/>{{event.city}}</td>
			                <td height="60px" width="50px">{{event.date|date:"M"}}<br />{{event.date.day}}<br />{{event.date|date:"l"}}</td>
			                </tr>
						</table>
					</div></a>
				{% endfor %}
                
            </div>
            <a href="/bilet_ilan"><div class="bilet_ilani"><span>bilet ilanı ver</span></div></a>
            <div class="sehir_sec">
              <div class="sehir_sec_text">Şehir Seç</div>
              <div class="sehir_sec_selection">
				<form action="" method="POST">
					{% csrf_token %}
	  				<select name ="city_select" onChange="this.form.submit();" class="selection_menu">
	    					<option>{{city_name_all_cities}}</option>
	  					{% for city in city_list %}
						{% if city.name == selected_city_name %}
							<option selected>{{city.name}}</option>
						{% else %}
	  	  					<option>{{city.name}}</option>
						{% endif %}
	  					{% endfor %}
	  				</select>
				</form>
			  </div>
            </div>
            <div class="ucuz_biletler">
              <a href="#"><div class="ucuz_bilet_yazi">ucuz biletler</div></a>
			  {% for ticket in ticket_list %}
              <a href="#"><div class="ucuz_bilet">
              <table><tr>
                <td height="45px" width="60px" ><img class="autoResizeImage" src="{{ticket.event.eventGroup.photoUrl}}" /></td>
                <td height="45px" width="150px" >{{ticket.event.eventGroup.name}}<br />{{ticket.event.place}}<br />{{ticket.event.city.name}}</td>
                <td height="45px" width="50px">{{ticket.ticketCount}} Adet<br />{{ticket.price}} TL<br /></td>
                </tr></table></div>
			  </a>
			  {% endfor %}
            </div>
            <div class="logo">
            </div>
 
{% endblock %}

  
