{% extends "base.html" %}
{% load staticfiles %}


{% block title %}bilet detayları - Bilet Boşta Kalmasın{% endblock %}
    
{% block css_js_links %}
    <link href="{% static 'css/bilet_detaylari.css' %}" rel="stylesheet" type="text/css" />
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
{% endblock %}    


{% block js_functions %}   

  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
  });

 function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["koltuk_no"].value;
	var val2=document.forms["myform"]["bilet_sayisi"].value;
	var flag = 0;
  	if (val1==null || val1.trim()=="") { 
		document.getElementById('koltuk_uyari').innerHTML = '*Gerekli alan'
		flag =1
    
  	}
  	if (val2==null || val2.trim()=="" ||val2=="bilet sayısını giriniz") { 
    
		document.getElementById('biletsayisi_uyari').innerHTML = '*Gerekli alan'
		flag=1
    
  	}
  	if(flag==1){
	  return false;
	
  	}
  	return true; // allow submit
}

{% endblock %}


{% block content %}

        <div class="steps_logo">
           	  <img src="{% static 'resimler/step2.png' %}"  />
         </div>
        
        	
         <div class="bilet_detaylari">
    			<form id="myform" name="bilet_detaylari" method="post" >
         			<label class="name" style="font-size:20px">elinizdeki bilet sayısı</label> <label id="biletsayisi_uyari" style="color:#bdd531; margin-left:10px;">{{ticket_count_error}}</label>
            		<br /><br />
   					<select name="ticket_count" id="bilet_sayisi" class="styled-select" title="İlanını vermek istediğiniz bilet sayısını giriniz. Bundan sonra yapacağınız işlemleri elinizdeki biletlerden birisi için devam edeceksiniz.">
      					<option selected="selected" disabled="disabled">bilet sayısını giriniz</option>
						{% for ticket_count in ticket_count_list %}
						<option> {{ticket_count}}</option>
						{% endfor %}
   					</select>
                    <br /><br />
                    <label class="name" style="font-size:20px">kategori no</label><label id="biletsayisi_uyari" style="color:#bdd531; margin-left:10px;">{{seat_category_error}}</label> 
            		<br /><br />
   					<select name="seat_category" class="styled-select" title="Biletinizin yer aldığı kategoriyi seçiniz. Birden fazla bilet ilanı veriyorsanız hepsinin aynı kategoride yer aldığına emin olunuz.">
      					<option selected="selected" disabled="disabled">bilet kategorisini seçiniz</option>
						{% for seat_category in seat_category_list %}
						<option>{{seat_category}}</option>
						{% endfor %}
   					</select>
                    <br /><br />
                    <label class="name" style="font-size:20px">sıra no</label> <label id="biletsayisi_uyari" style="color:#bdd531; margin-left:10px;">{{seat_row_error}}</label>
            		<br /><br />
   					<select name="seat_row" class="styled-select" title="Biletinizin bulunduğu sırayı seçiniz.">
      					<option selected="selected" disabled="disabled">bilet sıra numarası</option>
						{% for seat_row in seat_row_list %}
						<option>{{seat_row}}</option>
						{% endfor %}
   					</select>
                    <br /><br />
                    <label class="name" style="font-size:20px">koltuk no</label> <label id="koltuk_uyari" style="color:#bdd531; margin-left:10px;">{{seat_number_error}}</label>
            		<br /><br />
   					<input name="seat_number" id="koltuk_no" class="tb" type="text" title="Biletinizin üstünde yazan koltuk numarasını belirtiniz. Birden fazla bilet ilanı veriyorsanız başlangıç koltuk numarasını yazınız."/>
                    <br />
					{% csrf_token %}
                    <button type="submit" class="btn">Sonraki</button>
        		</form>
		</div>
      
            
{% endblock %}            

    

