{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Fiyatlandır - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/fiyatlandir.css' %}" rel="stylesheet" type="text/css" />
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
{% endblock %}
    
   
    
{% block js_functions %}  

  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
        

    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["bilet_fiyati"].value;
	var val2=document.forms["myform"]["biletilan_fiyati"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('fiyat_uyari').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="") { 
    
	document.getElementById('ilan_uyari').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}

    
{% endblock %}    
    
    

{% block content %}

        <div class="steps_logo">
           	  <img src="{% static 'resimler/step3.png' %}"  />
         </div>
         <table>
         <tr>
         <td>
         <div class="bilet">
         	<table>
            	<tr>
                	<td width="100" height="80" style="text-align:center">{{event.date|date:"M"}}<br />{{event.date.day}}<br />{{event.date|date:"l"}}</td>
                	<td width="165" height="80" style="text-align:center">{{event.eventGroup.name}}<br />{{event.place}}<br />{{event.city.name}}</td>
                    <td width="165" height="80" style="text-align:center">Bilet Sayısı: {{ticket_count}}<br />Kategori No: {{seat_category}}<br />Sıra No: {{seat_row}}<br />Koltuk No: {{seat_number}}</td>
                	<!-- <td width="100" height="80" style="text-align:center">Feb<br />2<br />Pzts</td>
                	<td width="165" height="80" style="text-align:center">DUMAN<br />Jolly Joker<br />İstanbul</td>
                    <td width="165" height="80" style="text-align:center">Kategori No: 1<br />Sıra No: A<br />Koltuk No: 7</td> -->
                </tr>
            </table>
         </div>
         <div class="bilet_detaylari">
             <form id="myform" name="bilet_detaylari" method="post">
                        <label class="name" style="font-size:20px">bileti aldığınız fiyatı giriniz</label> <label id="fiyat_uyari" style="color:#bdd531; margin-left:10px;">{{ticket_face_value_error}}</label>
                        <br /><br />
                        <input name="sell_ticket_face_value" id="bilet_fiyati" class="tb" type="text" title="Biletinizin üzerinde yazan fiyatı belirtiniz. Birden fazla bilet satıyorsanız sadece bir tanesinin değerini giriniz." />
                        <br /><br />
                        <label class="name" style="font-size:20px">bilet için talep edilen fiyatı giriniz</label> <label id="ilan_uyari" style="color:#bdd531; margin-left:10px;">{{ticket_sell_value_error}}</label>
                        <br /><br />
                        <input name="sell_ticket_sell_value" id="biletilan_fiyati" class="tb" type="text" title="Biletiniz için sitede listelenecek fiyatı belirleyiniz.
Birden fazla bilet satıyorsanız sadece bir tanesi için talep edilen fiyatı giriniz." />
                        <br /><br />
                        <label>Bu etkinlikte aynı kategoriye ait en ucuz bilet</label>
                        <label id="ilan_fiyatı">30 TL. </label>
                        <label>Bu fiyattan daha düşük bir fiyata ilan vermeniz biletinizin satılma ihtimalini artıracaktır. </label>
                        <br /><br /><br />
						{% csrf_token %}
                        <button type="submit" class="btn">Sonraki</button>
             </form>
             
         </div>
      </td>
      <td>
         <div class="bilet_uyarilari"></div>
      </td>
   </tr>
 </table>
 {% endblock %}