{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Onayla - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %} 
	<link href="{% static 'css/onayla.css' %}" rel="stylesheet" type="text/css" />
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

	
{% endblock %}
    
    

{% block js_functions %}    
    
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
      
      
      
      
      
      
        
     
     
     $( "#myform" ).submit(function( event ) {
	$( "#dialog-message" ).dialog( "open" );
 
  
  
});
     
     
     
     
      
      
      
      $( "#dialog-message" ).dialog({
      autoOpen: false,
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
      
      
      
      
      
      
      
    });
 
 
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["isim_tb"].value;
	var val2=document.forms["myform"]["soyisim_tb"].value;
	var val3=document.forms["myform"]["iban_tb"].value;

	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('isim_lb').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="") { 
    
	document.getElementById('soyisim_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val3==null || val3.trim()=="") { 
    
	document.getElementById('iban_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}





{% endblock %}


{% block content %}
        <div class="steps_logo">
           	  <img src="{% static 'resimler/step5.png' %}"  />
         </div>
         <label class="name" style="font-size:20px; margin-left:60px">Bilet Bilgileri Özet</label>
         
        <div style="margin-bottom:20px;" class="bilet">
         	<table>
            	<tr>
                	<td width="150" height="80" style="text-align:center">{{event.date|date:"M"}}<br />{{event.date.day}}<br />{{event.date|date:"l"}}</td>
                	<td width="150" height="80" style="text-align:center">{{event.eventGroup.name}}<br />{{event.place}}<br />{{event.city.name}}</td>
                    <td width="150" height="80" style="text-align:center">Bilet Sayısı: {{ticket_count}}<br />Kategori No: {{seat_category}}<br />Sıra No: {{seat_row}}<br />Koltuk No: {{seat_number}}</td>
                    <td width="150" height="80" style="text-align:center">İlan Fiyatı: {{ticket_sell_value}} TL</td>
                </tr>
            </table>
         </div>
         
         
         <div class="bilet_detaylari">
    			<form id="myform" name="bilet_detaylari" method="post">
                <label class="name" style="font-size:20px;">Ödeme Yapılacak Hesap Bilgileri</label>
                <br /><br />
         			<label  class="name" style="font-size:20px">İsim</label><label id="isim_lb" style="color:#bdd531; margin-left:10px;">{{name_error}}</label> 
   					<input name='sell_name' id="isim_tb" class="tb" type="text" title="Ödemenin yapılacağı hesap sahibinin ismini giriniz." />
                    <div style="height:8px;"></div>
                    <label class="name" style="font-size:20px" >Soyisim</label><label id="soyisim_lb" style="color:#bdd531; margin-left:10px;">{{surname_error}}</label>
   					<input name='sell_surname' id="soyisim_tb" class="tb" type="text" title="Ödemenin yapılacağı hesap sahibinin soyismini giriniz." />
                    <div style="height:8px;"></div>
                    <label class="name" style="font-size:20px" >IBAN No</label><label id="iban_lb" style="color:#bdd531; margin-left:10px;">{{iban_error}}</label>
   					<input name='sell_iban' id="iban_tb" class="tb" type="text" title="Ödemenin yapılacağı hesabın IBAN numarasını giriniz."/>
               
                    <div style="height:8px;"></div>
					{% csrf_token %}
                    <input type="submit" class="btn" value="İlanı Ver"/>
        		</form>
		</div>
		
		
				
		<div id="dialog-message" title="Download complete">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Your files have downloaded successfully into the My Downloads folder.
  </p>
  <p>
    Currently using <b>36% of your storage space</b>.
  </p>
</div>
		
		

		
		
		
		
		
{% endblock %}  
            