

.content_css .white_bg .eventgroup_foto{
	background-color: transparent;
	background-image:url(tarkan.png);
	background-position:left top;
	max-height:100%;
	max-width:100%;
	position:absolute;
	margin-top:12px;
	margin-left:12px;
	width:422px;
	height:231px;
}


.content_css .white_bg .eventgroup_onpic{
	
	background:#f9f9f9;
	text-indent:10px;
	vertical-align:middle;
	line-height: 50px;
	margin-top:150px;
	
	width:180px;
	height:50px;
}

td{
	white-space:nowrap;
}



.content_css .white_bg .eventgroup_info{
	position:absolute;
	background:linear-gradient(#dbdbdb,#ffffff);
	margin-top:12px;
	margin-left:446px;
	width:408px;
	height:231px;
}

.content_css .white_bg .event_list{
	position:absolute;
	background:linear-gradient(#dbdbdb,#ffffff);
	margin-top:260px;
	margin-left:12px;
	width:842px;
	height:311px;
}



.content_css .white_bg .event_list .eventlist_area{
	
	overflow-x: hidden;
overflow-y: scroll;
}



	

.content_css .white_bg .eventgroup_info .eventgroup_name{
	text-indent:10px;
	background-color:#cdcdcd;
	font-size:16px;
	
	vertical-align:middle;
	line-height:30px;
	width:408px;
	height:31px;
}



.content_css .white_bg .eventgroup_info .eventgroup_yazi{
	overflow-x: hidden;
overflow-y: scroll;
	
	font-size:12px;
	margin-top: 10px;
	margin-left: 8px;
	vertical-align:middle;
	line-height:30px;
	width:400px;
	height:100px;
}



.content_css .white_bg .eventgroup_info .sehir_sirala{
	margin-left: 8px;
	margin-top: 130px;
	vertical-align:middle;

}




.styled-select {
	
	text-indent:10px;
	-webkit-appearance: none;
   width: 360px;
   height: 34px;
   overflow: hidden;
     -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
   border: 1px solid #ccc;
   }
   
   .button_sat{
border:1px solid #8bcf54; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
 background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
 background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
 background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
 background-image: -o-linear-gradient(top, #a9db80, #96c56f);
 background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.button_sat:hover{
 border:1px solid #74bf36;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
 background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
 background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}



.button_al{
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.button_al:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}
   