
.content_css .white_bg .bilet_detaylari{

	text-align:left;
	float:left;
	margin-top: 20px;
	margin-left: 60px;
	width: 370px;
	height: 400px;
}


.content_css .white_bg .bilet{
	background: linear-gradient(#cfcfcf,#f7f4f4);
	text-align:left;
	float:left;
	margin-top: 0px;
	margin-left: 60px;
	width: 430px;
	height: 80px;
}


.content_css .white_bg .bilet_uyarilari{
	margin-top: 20px;
	margin-left: 10px;

	text-align:left;
	float:right;
	
	width: 370px;
	height: 400px;
}






.content_css .white_bg .steps_logo{
	text-align:center;
	margin-top:16px;
	width: 866px;
	height: 150px;
}






   .tb {
	
	text-indent:10px;
	-webkit-appearance: none;
   width: 390px;
   height: 34px;
   overflow: hidden;
   padding-right:30px;
	   padding-left:15px;
   border: 1px solid #ccc;
   background:#ffffff url(tl.png) no-repeat right;
      -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
   }
   
 .btn {
  margin-left:330px;
  background: #9fb329;
  background-image: -webkit-linear-gradient(top, #9fb329, #9eb329);
  background-image: -moz-linear-gradient(top, #9fb329, #9eb329);
  background-image: -ms-linear-gradient(top, #9fb329, #9eb329);
  background-image: -o-linear-gradient(top, #9fb329, #9eb329);
  background-image: linear-gradient(to bottom, #9fb329, #9eb329);
 
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
     -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.btn:hover {
  background: #d6f422;
  background-image: -webkit-linear-gradient(top, #d6f422, #d6f422);
  background-image: -moz-linear-gradient(top, #d6f422, #d6f422);
  background-image: -ms-linear-gradient(top, #d6f422, #d6f422);
  background-image: -o-linear-gradient(top, #d6f422, #d6f422);
  background-image: linear-gradient(to bottom, #d6f422, #d6f422);
  text-decoration: none;
}


.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}