html{
	font-family:"Myriad Pro";
	font-size:14px;
}
body{
	background-image:url(GitHub/biletbazaar/biletbazaar/statictemp/resimler/deneme10.jpg);
	
	overflow-y: scroll;
	overflow-x: hidden;
	
}



a:link{
	color:#FFF;
	text-decoration:none;
}

a:active{
	color:#0F0;
}

.header_css{
	background-image:url(resimler/bg.png);
	height:195px;
	margin-left:0px;
	margin-top:0px;
	
}

.header_css .banner{
	
	
	position:relative;
	height:166px;
	
}

.header_css .menu{
	position:absolute;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	margin-top:0px;
	height:29px;
}


.header_css .menu .anasayfa{
	opacity:1;
	background-image:url(resimler/anasayfa.png);
	height:29px;
	float:left;
	width:157px;
	
}

.header_css .menu .anasayfa:hover{
	font-size:16px;
	opacity:0.9;
}

.header_css .menu .muzik:hover{
	font-size:16px;
	opacity:0.9;
}

.header_css .menu .spor:hover{
	font-size:16px;
	opacity:0.9;
}

.header_css .menu .sahne:hover{
	font-size:16px;
	opacity:0.9;
}

.header_css .menu .hakkimizda:hover{
	font-size:16px;
	opacity:0.9;
}

.header_css .menu .sss:hover{
	font-size:16px;
	opacity:0.9;
}


.header_css .menu .muzik{
	opacity:1;
	background-image:url(resimler/muzik.png);
	height:29px;
	float:left;
	width:144px;
}

.header_css .menu .spor{
	opacity:1;
	background-image:url(resimler/spor.png);
	height:29px;
	float:left;
	width:147px;
}

.header_css .menu .sahne{
	opacity:1;
	background-image:url(resimler/sahne.png);
	height:29px;
	float:left;
	width:146px;
}

.header_css .menu .hakkimizda{
	opacity:1;
	background-image:url(resimler/hakkimizda.png);
	height:29px;
	float:left;
	width:151px;
}

.header_css .menu .sss{
	opacity:1;
	background-image:url(resimler/sss.png);
	margin-top:0px;
	height:29px;
	float:left;
	width:145px;
}


.header_css .banner .logo{
	position:absolute;
	height:166px;
	width:440px;
	
}

.header_css .banner .links{
	color:#FFF;
	vertical-align:middle;
	text-align:right;
	position:absolute;
	height:166px;
	width:449px;
	margin-left:440px;
	
}

.header_css .banner .links .hesabim{
	margin-right:20px;
	height:40px;
}

.header_css .banner .links .uye_girisi{
	margin-right:20px;
	height:40px;
}

.header_css .banner .links .search{
	margin-right:20px;
	height:40px;
}

.header_css .banner .links .dil{
	margin-right:20px;
	height:40px;
}

.content_css{
	position:relative;
	background-color:#565554;
	width:890px;
	height:695px;

	
}

.content_css .white_bg{
	position:absolute;
	background-color:#FFF;
	margin-top:11px;
	margin-left:12px;
	width:866px;
	height:640px;
}

.content_css .white_bg .bilet_detaylari{

	text-align:left;
	float:left;
	margin-top: 20px;
	margin-left: 60px;
	width: 370px;
	height: 400px;
}


.content_css .white_bg .bilet{
	background: linear-gradient(#cfcfcf,#f7f4f4);
	text-align:left;
	float:left;
	margin-top: 0px;
	margin-left: 60px;
	width: 430px;
	height: 80px;
}


.content_css .white_bg .bilet_uyarilari{
	margin-top: 20px;
	margin-left: 10px;

	text-align:left;
	float:right;
	
	width: 370px;
	height: 400px;
}






.content_css .white_bg .steps_logo{
	text-align:center;
	margin-top:16px;
	width: 866px;
	height: 150px;
}


.content_css .white_bg .etkinligi_sec{
	
	width: 866px;
	height: 50px;
}

.content_css .white_bg .search_results{
	margin-top:20px;
	margin-left:150px;
	background-color:#f6f3ef;
	width: 566px;
	height: 300px;
}

.content_css .white_bg .ucuz_biletler{
	margin-top:20px;
	margin-left:150px;
	position:absolute;
	background-color:#bfbfbf;
	
	width: 566px;
	height: 300px;
}

.content_css .white_bg .ucuz_biletler .ucuz_bilet_yazi{
	color:#000;
	font-size:16px;
	background: linear-gradient(#bbbbbb,#dadada);
	line-height:24px;
	text-align:center;
	vertical-align:middle;
	margin-top:0px;
	height:24px;
}



.content_css .white_bg .ucuz_biletler .ucuz_bilet{
	vertical-align:middle;
	line-height:15px;
	border:2px solid #cfcfcf;
	margin-left:2px;
	margin-top:1px;
	background-color:#f8f8f8;
	float:left;
	height: 80px;
	width:540px;
	
}
	
	



.button_example{
border:1px solid #CE9A01;-webkit-box-shadow: #FFF563 0px 1px 0px inset;-moz-box-shadow: #FFF563 0px 1px 0px inset; box-shadow: #FFF563 0px 1px 0px inset; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px;font-family:arial, helvetica, sans-serif; padding: 7px 14px 7px 14px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.44);font-weight:bold; color: #63460C;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
 background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
 background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
 background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
 background-image: -o-linear-gradient(top, #a9db80, #96c56f);
 background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
}

.button_example:hover{
 border:1px solid #CE9A01;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
 background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
 background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}



.footer{
	background-image:url(resimler/bg.png);
	height:165px;

	margin-top:0px;
	
}


.footer .footer_links{

	height:100px;
	margin-top:0px;
	
}

.footer .footer_links .link{
	margin-top:15px;
	float:left;
	height:100px;
	width:180px;
}

.footer .copyright{
	vertical-align:middle;
	line-height:20px;
	text-align:center;
	margin-top:20px;
	height:65px;
	
}

.autoResizeImage {
	vertical-align:middle;
    height: 100%;
    width: 100%;
}

.img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 40px;
	margin-bottom:auto;
}




.content_css .white_bg .etkinligi_sec .etkinligi_sec_tool{
	width: 466px;
	height: 100px;
	margin-left:150px;
	margin-top:50px;
	
}


#search, #submit
{
	text-align:center;
	float: right;
}




#search
{
	
	padding: 5px 9px;
	height: 23px;
	width: 280px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{		
	background: #bad130;
	background-image: -moz-linear-gradient(#a3b82a,#bad130);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #a3b82a));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}	

#submit:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}		

.styled-select {
	
	text-indent:10px;
	-webkit-appearance: none;
   width: 370px;
   height: 34px;
   overflow: hidden;
   background: url(selectbox.png) no-repeat center #ddd;
   border: 1px solid #ccc;
   }
   
   
   .tb {
	
	text-indent:10px;
	-webkit-appearance: none;
   width: 390px;
   height: 34px;
   overflow: hidden;
   padding-right:30px;
	   padding-left:15px;
   border: 1px solid #ccc;
   background:#ffffff url(tl.png) no-repeat right;
      -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
   }
   
 .btn {
  margin-left:330px;
  background: #9fb329;
  background-image: -webkit-linear-gradient(top, #9fb329, #9eb329);
  background-image: -moz-linear-gradient(top, #9fb329, #9eb329);
  background-image: -ms-linear-gradient(top, #9fb329, #9eb329);
  background-image: -o-linear-gradient(top, #9fb329, #9eb329);
  background-image: linear-gradient(to bottom, #9fb329, #9eb329);
 
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
     -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.btn:hover {
  background: #d6f422;
  background-image: -webkit-linear-gradient(top, #d6f422, #d6f422);
  background-image: -moz-linear-gradient(top, #d6f422, #d6f422);
  background-image: -ms-linear-gradient(top, #d6f422, #d6f422);
  background-image: -o-linear-gradient(top, #d6f422, #d6f422);
  background-image: linear-gradient(to bottom, #d6f422, #d6f422);
  text-decoration: none;
}


.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}