{% extends "base.html" %}
{% load staticfiles %}


{% block title %}biletal4 - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/biletal4.css' %}" rel="stylesheet" type="text/css" /> 
 	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
{% endblock %}
    



{% block js_functions %} 
    
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
 
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["koltuk_no"].value;
	var val2=document.forms["myform"]["bilet_sayisi"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('koltuk_uyari').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="" ||val2=="bilet sayısını giriniz") { 
    
	document.getElementById('biletsayisi_uyari').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}

{% endblock %}
    

{% block content %}
        <div class="steps_logo">
           	  <img src="{% static 'resimler/biletal4.png' %}"  />
         </div>
        
        <div class="bilet_det">	
         	<div class="bilet_detaylari" style="float:left;">
            <br />
    			<label id="etkinlik_ismi" style="margin-left:20px; margin-top:50px; font-weight:bold; color:#3babc7" >TARKAN</label><br /><br />
                <label id="etkinlik_yer" style="margin-left:20px;" >Jolly Joker, İstanbul</label><br /><br />
                <label id="etkinlik_tarih" style="margin-left:20px;" >17 Ocak 2014</label><br /><br />
                <label id="etkinlik_saat" style="margin-left:20px;">Saat: 20:00</label><br /><br />
                
                <label id="etkinlik_saat" style="margin-left:20px;">Kategori 4</label><br /><br />
                <label id="etkinlik_saat" style="margin-left:20px;">35 A</label><br /><br />
                <label id="etkinlik_saat" style="margin-left:20px;">Bilet Sayısı : 2</label><br />

			</div>
        	<div class="bilet_detaylari2" style="float:right";>
       		  	<div class="event_foto" ><img src="{% static 'resimler/tarkan.png' %}" style="max-width:100%; max-height:100%;" /></div>
                
            	
       	  	</div>
            
            <div class="toplam">
           		<hr style=" margin-left:10px; margin-right:10px; border-color:#3babc7;" />
           		<label style="float:right; padding-left:50px; padding-right:10px;" id="kategori_no"> 80 TL</label><span id="toplam_fiyat" style="margin-left:10px; float:right">Kredi kartından çekilecek tutar : </span>
                <br /><br /><br />
                <button type="submit" class="button_example" style="float:right">Bileti Al</button>
           </div>
           
           
      </div>
      
            
 {% endblock %}