{% extends "base.html" %}
{% load staticfiles %}


{% block title %}biletal2 - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/biletal2.css' %}" rel="stylesheet" type="text/css" /> 
 	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
{% endblock %}
    



{% block js_functions %} 
    
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });


    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["isim_tb"].value;
	var val2=document.forms["myform"]["soyisim_tb"].value;
	var val3=document.forms["myform"]["sehir_tb"].value;
	var val4=document.forms["myform"]["semt_tb"].value;
	var val5=document.forms["myform"]["adres_tb"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('isim_lb').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="") { 
    
	document.getElementById('soyisim_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val3==null || val3.trim()=="") { 
    
	document.getElementById('sehir_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val4==null || val4.trim()=="") { 
    
	document.getElementById('semt_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val5==null || val5.trim()=="") { 
    
	document.getElementById('adres_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}

{% endblock %}
    

{% block content %}
        <div class="steps_logo">
           	  <img src="{% static 'resimler/biletal2.png' %}"  />
         </div>
        	
         <div class="bilet_detaylari">
 			<form id="myform" name="bilet_detaylari" method="post">
      			<label class="name" style="font-size:20px">İsim</label> <label id="isim_lb" style="color:#bdd531; margin-left:10px;">{{ship_name_error}}</label>
					<input name="ship_name" id="isim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin adını giriniz." />
                 <div style="height:8px;"></div>
				 
				 <br />
				 
                 <label class="name" style="font-size:20px">Soyisim</label><label id="soyisim_lb" style="color:#bdd531; margin-left:10px;">{{ship_surname_error}}</label>
					<input name="ship_surname" id="soyisim_tb" class="tb" type="text" title="Bilet ilanını veren kişinin soyadını giriniz." />
                 <div style="height:8px;"></div>
				 
				 <br />
                 <label class="name" style="font-size:20px">Şehir</label><label id="sehir_lb" style="color:#bdd531; margin-left:10px;">{{ship_city_error}}</label>
					<input name="ship_city" id="sehir_tb" class="tb" type="text" title="Biletin teslim alınacağı ili giriniz."  />
                 <div style="height:8px;"></div>
				 
				 <br />
                 <label class="name" style="font-size:20px">Semt</label> <label id="semt_lb" style="color:#bdd531; margin-left:10px;">{{ship_neighbourhood_error}}</label>
					<input name="ship_neighbourhood" id="semt_tb" class="tb" type="text" title="Biletin teslim alınacağı semt adını giriniz." />
                 <div style="height:8px;"></div>
				 
				 <br />
                 <label class="name" style="font-size:20px">Adres 1*</label> <label id="adres_lb" style="color:#bdd531; margin-left:10px;">{{ship_address_error}}</label>
					<input name="ship_address" id="adres_tb" class="tb" type="text" title="Lütfen biletin teslim alınacağı açık adresi giriniz." />
                 <div style="height:8px;"></div>
				 
				 <br />
                 <label class="name" style="font-size:20px">Adres 2</label> <label id="adres_lb" style="color:#bdd531; margin-left:10px;">{{ship_address2_error}}</label>
					<input name="ship_address2" class="tb" type="text"  />
                 <div style="height:8px;"></div>
                 <br/><br/>
				{% csrf_token %}
                 <button style="float:right" type="submit" class="button_example">Sonraki</button>
     		</form>
		</div>
      
            
            
 {% endblock %}
