{% extends "base.html" %}
{% load staticfiles %}


{% block title %}biletal1 - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %} 
	<link href="{% static 'css/biletal1.css' %}" rel="stylesheet" type="text/css" /> 
	
{% endblock %}
    

{% block js_functions %} 
   
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
  
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["koltuk_no"].value;
	var val2=document.forms["myform"]["bilet_sayisi"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('koltuk_uyari').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="" ||val2=="bilet sayısını giriniz") { 
    
	document.getElementById('biletsayisi_uyari').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}

{% endblock %}

{% block content %}
        <div class="steps_logo">
           	  <img src="{% static 'resimler/biletal1.png' %}"  />
         </div>
        
        <div class="bilet_det">	
         	<div class="bilet_detaylari" style="float:left;">
            <br />
    			<label id="etkinlik_ismi" style="margin-left:20px; margin-top:50px; font-weight:bold; color:#3babc7" >{{ticket.event.eventGroup.name}}</label><br /><br />
                <label id="etkinlik_yer" style="margin-left:20px;" >{{ticket.event.place}}, {{ticket.event.city.name}}</label><br /><br />
                <label id="etkinlik_tarih" style="margin-left:20px;" >{{ticket.event.date}}</label><br /><br />
                <label id="etkinlik_saat" style="margin-left:20px;">{{ticket.event.date|date:"H"}}</label><br /><br />
                <br /><br />
              <span id="etkinlik_saat" style="margin-left:20px;">Kategori :</span><label style="float:right; padding-right:20px;" id="kategori_no"> {{ticket.seatCategory}}</label>               
              <hr style=" margin-left:20px; margin-right:20px; border-color:#3babc7" />
              
              <span id="etkinlik_saat" style="margin-left:20px;">Sıra No:</span><label style="float:right; padding-right:20px;" id="kategori_no">{{ticket.seatRow}}</label>               
              <hr style=" margin-left:20px; margin-right:20px; border-color:#3babc7" />
              {% if ticket.seatNumberFrom == ticket.seatNumberTo %}
              	<span id="etkinlik_saat" style="margin-left:20px;">Koltuk No:</span><label style="float:right; padding-right:20px;" id="kategori_no"> {{ticket.seatNumberFrom}} </label>
              {% else %}
              	<span id="etkinlik_saat" style="margin-left:20px;">Koltuk No:</span><label style="float:right; padding-right:20px;" id="kategori_no"> {{ticket.seatNumberFrom}} - {{ticket.seatNumberTo}}  </label>               
              {% endif %}
              
              <hr style=" margin-left:20px; margin-right:20px; border-color:#3babc7" />
			  <form method="POST" >              
              <span id="etkinlik_saat" style="margin-left:20px;">Bilet Sayısı :</span>
				{% csrf_token %}
				<select name="buy_ticket_count" style="float:right; margin-right:20px;" id="bilet_sayisi" class="styled-select" onChange="this.form.submit();">
					
					{% for ticket_cnt in ticket_count_list %}
						{% if forloop.counter == ticket_count %}
							<option selected>{{ticket_count}}</option>
						{% else %}
							<option>{{forloop.counter}}</option>		
						{% endif %}
					{% endfor %}
				</select>               
			  
              <hr style=" margin-left:20px; margin-right:20px; margin-top:10px; border-color:#3babc7" />
              
              <br /><br />
              <span id="toplam_fiyat" style="margin-left:20px;">Toplam Fiyat :</span><label style="float:right; padding-right:20px;" id="kategori_no">{% widthratio ticket.price 1 ticket_count %} TL</label>
			</div>
        	<div class="bilet_detaylari2" style="float:left";>
       		  <div class="event_foto" ><img src="{{event_group_photoUrl}}" style="max-width:100%; max-height:100%;" /></div>
			  {% csrf_token %}
				<div class="submit_button"><button type="submit" class="button_example" name="devam">Sonraki</button></div>
       	  </div>
		  </form>
      </div>
      
 {% endblock %}
