{% extends "base.html" %}
{% load staticfiles %}


{% block title %}biletal3 - Bilet Boşta Kalmasın{% endblock %}
    
    
{% block css_js_links %}
	<link href="{% static 'css/biletal3.css' %}" rel="stylesheet" type="text/css" /> 
 	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
{% endblock %}
    



{% block js_functions %} 
    
   
  $(function() {

        // select all desired input fields and attach tooltips to them
      $("#myform :input").tooltip({

      // place tooltip on the right edge
      position: "center right",

      // a little tweaking of the position
      offset: [-2, 20],

      // use the built-in fadeIn/fadeOut effect
      effect: "fade",

      // custom opacity setting
      opacity: 0.7

      });
    });
  
  
    function validate(theForm) { // passing the form object
 	var val1=document.forms["myform"]["isim_tb"].value;
	var val2=document.forms["myform"]["soyisim_tb"].value;
	var val3=document.forms["myform"]["sehir_tb"].value;
	var val4=document.forms["myform"]["semt_tb"].value;
	var val5=document.forms["myform"]["adres_tb"].value;
	var flag = 0;
  if (val1==null || val1.trim()=="") { 
    
	document.getElementById('isim_lb').innerHTML = '*Gerekli alan'
	flag =1
    
  }
  if (val2==null || val2.trim()=="") { 
    
	document.getElementById('soyisim_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val3==null || val3.trim()=="") { 
    
	document.getElementById('sehir_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val4==null || val4.trim()=="") { 
    
	document.getElementById('semt_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if (val5==null || val5.trim()=="") { 
    
	document.getElementById('adres_lb').innerHTML = '*Gerekli alan'
	flag=1
    
  }
  if(flag==1){
	  return false;
	
  }
  return true; // allow submit
}

{% endblock %}

{% block content %}
        <div class="steps_logo">
           	  <img src="{% static 'resimler/biletal3.png' %}"  />
         </div>
        	
         <div class="bilet_detaylari">
    			<form id="myform" name="bilet_detaylari" method="post" onsubmit="return validate(this)">
         			<label class="name" style="font-size:20px;margin-left:10px; margin-right:20px; float:left;">Kart Tipi</label>
   					<select id="bilet_sayisi" class="styled-select">
             
      					<option selected="selected">Visa</option>
                        <option>MasterCard</option>
   					</select>
                    <label id="karttipi_lb" style="color:#bdd531; float:right; margin-right:5px;"></label> 
                    
                    <br /><br /><br /><br />
                    <label class="name" style="font-size:20px; margin-left:10px; float:left;">Kart Sahibi </label>
   					<input id="soyisim_tb" placeholder="soyad" class="tb" type="text" title="Bilet ilanını veren kişinin soyadını giriniz." style="margin-left:18px;" />
                    <input id="soyisim_tb" placeholder="ad" class="tb" type="text" title="Bilet ilanını veren kişinin soyadını giriniz." />
                    <label id="soyisim_lb" style="color:#bdd531; float:right; margin-right:5px;"></label>
                    
                    <br /><br /><br /><br />
                    <label class="name" style="font-size:20px; margin-left:10px;float:left;">Kart Numarası </label>
   					<input id="sehir_tb" class="tb" style="width:270px;" type="text" title="Biletin teslim alınacağı ili giriniz."  />
                    <label id="sehir_lb" style="color:#bdd531; float:right; margin-right:5px;"></label>
                    
                    <br /><br /><br /><br />
                    <label class="name" style="font-size:20px; margin-left:10px;float:left;">Son Kullanma Tarihi</label> 
   					<select id="kart_ay" class="styled-select" style="width:60px; float:left;margin-left:20px">
                    <option selected="selected" disabled="disabled">ay</option>
      					<option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
   					</select>
                   <label></label>
                    <select id="kart_yil" class="styled-select" style="width:60px; float:left;margin-left:20px">
                    <option selected="selected" disabled="disabled">yıl</option>
      					<option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
   					</select>
                    
                    
                    <br /><br /><br /><br />
                    <label class="name" style="font-size:20px; margin-left:10px;float:left;">Güvenlik Kodu </label> 
   					<input id="adres_tb" class="tb" type="text" title="Lütfen biletin teslim alınacağı açık adresi giriniz." maxlength="3" style="float:left; width:25px; margin-left:65px;" />
                    <label id="adres_lb" style="color:#bdd531; float:right; margin-right:5px;"></label>
    
                    
                    <br /><br /><br /><br />
                    <button type="submit" class="button_example" style="float:right;">Devam</button>
        		</form>
		</div>
      
            
{% endblock %}