{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}


{% block title %}Onaylandı! - Bilet Boşta Kalmasın{% endblock %}
 

{% block css_js_links %}
	<link href="{% static 'css/share_ticket.css' %}" rel="stylesheet" type="text/css" /> 
 	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}


{% block js_functions %}





{% endblock %}    
    
{% block content %}


         	<div class="login" >
            	<img src="{% static 'resimler/onay_icon.png' %}" style="width:100px; height:100px; margin-left:180px; margin-top: 10px" />
                <br />
            	<span style="font-size:22px; color:#3496af; margin-left:130px; display:inline-block; margin-top:30px;">Ödeme Onaylandı!</span>
                
                <hr style="border-color:#3babc7" />
                <br />
               <div class="bilet" style="margin-top:0">
                        <div class="event_pic">
                        	<img src="{{ticket.event.eventGroup.photoUrl}}" width="100" height="120"/>
                            
                        </div>
                        <div class="event_info">
                        	<label style="margin-left:10px;">{{ticket.event.eventGroup.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.place}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.city.name}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.date}}</label>
                            <br />
                            <label style="margin-left:10px;">{{ticket.event.date|date:"H"}}</label>
                            <br />
                            <label style="margin-left:10px;">Kategori {{ticket.seatCategory}}</label>
                            <br />
                            {% if buy_ticket_count == 1 %}
                            	<label style="margin-left:10px;">Koltuk {{ticket_seat_from}}</label>
                            {% else %}
                            	<label style="margin-left:10px;">Koltuk {{ticket_seat_from}} - {{ticket_final_seat}}</label>
                           {% endif %}
                        
                        </div>
                        
                        <br /><br /><br />
                   		<hr style="border-color:#3babc7;" />
                    </div>
                   
                    <span style="font-size:16px; color:#000; margin-left:60px; display:inline-block; margin-top:30px;">Gideceğiniz Etkinliği Arkadaşlarınıza Duyurun!</span>
                    <br /><br /></br>
                    
                   
                    
                    <a  href="https://www.facebook.com/sharer/sharer.php?u=http://www.biletbosta.com/event/?event_id={{ticket.event.id}}" style="float:left; margin-left:20px; margin-right:40px"><img style="height:30px; width:150px;" src="{% static 'resimler/facebook_share.png' %}" /></a>
                  	<a  href="https://twitter.com/share" data-url="http://www.biletbosta.com/event/?event_id={{ticket.event.id}}" class="twitter-share-button" data-via="BiletBosta" data-lang="tr" data-size="large">Tweet</a>
                  	<a  href="https://plus.google.com/share?url={http://www.biletbosta.com/event/?event_id={{ticket.event.id}}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img style="height:30px"
  src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/></a>
					
			</div>

      
{% endblock %}